includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - tests
    level: 8

    checkModelProperties: true
    reportUnmatchedIgnoredErrors: false
    databaseMigrationsPath:
        - database/migrations

    ignoreErrors:
        - '#Some ignored error pattern#'
